body{
<<<<<<< HEAD
    background-color: rgb(65, 113, 92); 
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40x;

}

h1{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}
p{
    text-align: center;
    font-size: 20px;
=======
    background-color: rgb(147, 183, 203); 
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    background-color: rgb(27, 45, 147);    
    padding: 20px;
    margin: 20px;
}

ul {
  list-style-type: none;
}

li{
    background-color: rgb(69, 90, 208);    
    padding: 20px;
    margin: 20px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
}
img{
    border-radius: 10px;
    margin: 20px;
}

.produtos {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.produtos ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

h3{
    font-size: 30px;
>>>>>>> develop
}